.text {
  font-size: $fs-text-def;
  color: $c-text-def;
}

.text--price {
  font-weight: bold; 
  color: $c-text-price;
  font-size: $fs-text-price;
}

.text--white {
  color: $color-white;
}

.text__error {
  color: $color-red;
}