<a routerLink="/admin/category" class="btn__add-product" mat-raised-button color="primary">Back</a>
<form *ngIf="data | async; else loading" [formGroup]="editCategoryForm" class="add-product" (ngSubmit)="onSubmit()">
  <mat-form-field class="add-product__item">
    <input matInput placeholder="Name" formControlName="name">
    <mat-error *ngIf="!editCategoryForm.get('name').valid && editCategoryForm.get('name').touched">
      Please enter name
    </mat-error>
  </mat-form-field>

  <button class="btn__add-product" mat-raised-button color="primary">Edit</button>


</form>

<ng-template #loading>
  Loading Category...
</ng-template>